[redhat-*:*:*]
mysql
perl-DBD-MySQL
perl-DBI
mysql-server

[centos:*:*]
mysql
perl-DBD-MySQL
perl-DBI
mysql-server

[scientific*:*:*]
mysql
perl-DBD-MySQL
perl-DBI
mysql-server

[fedora*:*:*]
mysql
perl-DBD-MySQL
perl-DBI
mysql-server

[yellowdog*:*:*]
perl-DBI
mysql
perl-DBD-MySQL
mysql-server

[suse*:*:*]
mysql
mysql-client
perl-DBD-mysql
perl-DBI
perl-Data-ShowTable

[debian|ubuntu:*:*]
libdbi-perl

# differences between mandr* distros should be resolved automatically
[mandr*:*:*]
MySQL
MySQL-client
perl-DBI
perl-DBD-mysql
perl-Data-ShowTable
MySQL-common
perl-CGI

