#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

BUILD_DIR = $(CURDIR)
PATCHES=$(sort $(shell find $(CURDIR)/debian/oscar-core.patches -name "*.patch"))
OSCAR_VERSION ?= $(shell $(CURDIR)/scripts/get-oscar-version.sh VERSION --full | cut -d- -f1)
#OSCAR_BASE_VERSION ?= $(shell $(CURDIR)/scripts/get-oscar-version.sh VERSION --base)
#OSCAR_BUILD ?= $(shell $(TOPDIR)/scripts/get-oscar-version.sh VERSION --build-r | sed -e 's/[^0-9]//g')

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
        CFLAGS += -O0
else
        CFLAGS += -O2
endif

%:
	dh $@

override_dh_auto_configure:
	# Add here commands to configure the package.
	@echo -n "Applying patches..."
	@cd $(BUILD_DIR) && \
		$(foreach patch, $(PATCHES), \
				echo -n Applying `basename $(patch)`... && cat $(patch) | \
		patch -s -p1 && echo done. &&) /bin/true
	#dh_auto_configure

override_dh_clean:
	# Add here commands to clean up after the build process.
	# Yes this is pretty ugly but i want to be able to build the packages
	# for a svn check-out
	#$(MAKE) clean DESTDIR=$(CURDIR)/debian/tmp
	rm -rf $(CURDIR)/debian/tmp \
	       $(CURDIR)/debian/oscar \
	       $(CURDIR)/debian/oscar-core \
	       $(CURDIR)/debian/oscar-data \
	       $(CURDIR)/debian/liboscar-server \
	       $(CURDIR)/debian/liboscar-client \
	       $(CURDIR)/debian/oscar-utils \
	       $(CURDIR)/debian/oscar-webgui \
	       $(CURDIR)/debian/oscar-dev \
	       $(CURDIR)/debian/oscar-release \
	# We delete all the binaries here to be sure they will not be included 
	# into the tarball generated with the Debian packages (they are not 
	# needed!).
	rm -f `find $(CURDIR) -name "*.deb"`
	rm -f `find $(CURDIR) -name "*.rpm"`
	dh_clean

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp DOCDIR=/usr/share/doc

override_dh_install:
	# Generate liboscar-server.install by excluding liboscar-client files
	cd debian/tmp ; find usr/share/perl5/OSCAR usr/share/perl5/Tk -type f | \
		grep -Ev 'OS_|PM_|RM_|Logger|Utils.pm|Env.pm|OSCAR/Defs.pm|OSCAR/LoggerDefs.pm|OCA.pm|ConfigFile.pm' \
		> ../liboscar-server.install
	# Generate oscar-core.install by excluding oscar-utils files
	cd debian/tmp ; find usr/bin usr/share/man/man1 -type f | \
		grep -Ev 'distro-query' \
		> ../oscar-core.install
	# Fix $Revision$ and $Id$ in installed files if any.
	@for file in $$(grep -Erl '\$$Revision\$$|\$$Id\$$' $(CURDIR)/debian/tmp); do \
	    sed -i -e "s/\\\$$Revision\\\$$/$(OSCAR_VERSION)/g" -e "s/\\\$$Id\\\$$/$(OSCAR_VERSION)/g" $$file; \
	done
	# Now, we can dispatch files into sub-packages directories from debian/tmp.
	dh_install --sourcedir=debian/tmp

# END
