html {
  margin: 0;
  padding: 0;

  font: normal 100%/1.4 Georgia,serif;

  min-height:100%;/* make sure it is at least as tall as the viewport */
  position:relative;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,ddf1f9+35,a0d8ef+100;Blue+3D+%2318 */
  background: #feffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #feffff 0%, #ddf1f9 35%, #a0d8ef 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0  ); /* IE6-9 */

}

.container {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}

a:link {
  text-decoration: none;
  color: #2989d8;
}

a:visited {
  color: #7d7e7d;
}
