/* Nav */
.current {
  background-color: #000531;
  color: #fff;
}

.nav {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.nav > li {
  display: inline-block;
}

.nav-top {
  font-size: 1.25em;
}

/* Header */
#header {
  width: 700px;
  margin: 0 auto;
  border-bottom: 1px solid #e7e7e7;
}

#header-title {
  width: 520px;
  float: left;
  margin: 0 auto;
}

#header-img{
  width: 180px;
  margin-left: 520px;
}

#header ul {
  padding: 5px;
  margin: 10px 0;
  list-style: none;
  float: left;
  clear: left;
  width: 100%;
}

#header ul li {
  float: left;
  display: inline; /*For ignore double margin in IE6*/
  margin: 0 10px;
}

#header ul li a {
  text-decoration: none;
  float:left;
  color: #999;
  cursor: pointer;
  font: 900 14px/22px "Arial", Helvetica, sans-serif;
}

#header ul li a span {
  margin: 0 10px 0 -10px;
  padding: 1px 8px 5px 18px;
  position: relative; /*To fix IE6 problem (not displaying)*/
  float:left;
}


/*BLUE*/
#header ul.blue li a.current, ul.blue li a:hover {
  background: url("../images/blue.png") no-repeat top right;
  color: #0d5f83;
}

#header ul.blue li a.current span, ul.blue li a:hover span {
  background: url("../images/blue.png") no-repeat top left;
}

#second-header {
  width: 700px;
  margin: 0 auto;
}

#second-header ul li a span {
  margin: 0 10px 0 -10px;
  padding: 1px 8px 5px 18px;
  position: relative; /*To fix IE6 problem (not displaying)*/
  float:left;
}

#second-header ul {
  padding: 5px;
  margin: -10px 0 25px;
  list-style: none;
  float: left;
  clear: left;
  width: 100%;
}

#second-header ul li {
  float: left;
  display: inline; /*For ignore double margin in IE6*/
  margin: 0 10px;
}

#second-header ul li a {
  text-decoration: none;
  float:left;
  color: #999;
  cursor: pointer;
  font: 900 12px/20px "Arial", Helvetica, sans-serif;
}

#second-header ul li a span {
  margin: 0 10px 0 -10px;
  padding: 1px 8px 5px 18px;
  position: relative; /*To fix IE6 problem (not displaying)*/
  float:left;
}


/*BLUE*/
#second-header ul.blue li a.current, ul.blue li a:hover {
  background: url("../images/blue.png") no-repeat top right;
  color: #0d5f83;
}

#second-header ul.blue li a.current span, ul.blue li a:hover span {
  background: url("../images/blue.png") no-repeat top left;
}


