# systemconfig.conf written by systeminstaller.
CONFIGBOOT = YES
CONFIGRD = YES

[BOOT]
	ROOTDEV = /dev/hda6
	BOOTDEV = /dev/hda
	DEFAULTBOOT = 2.6.24-16-generic

[KERNEL0]
	PATH = /boot/vmlinuz-2.6.24-16-generic
	LABEL = 2.6.24-16-generic

