<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />

    <!--
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/print.css" media="print">
    -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico?" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/stylesheet.css" media="screen" />

    <title>OSCAR: {{ page.title }}</title>
  </head>

  <body>

    <div id="header_wrap" class="outer">
        <header class="inner">
		<a id="forkme_banner" href="https://github.com/oscar-cluster{{ site.baseurl }}">View on GitHub</a>

        <div id="project_tagline">
          <img src="{{ site.baseurl }}/images/oscar-logo.jpg" width="130" />
        </div>
          <h2 id="project_tagline1">Open Source Cluster Application Resources</h2>

            <section id="downloads">
		    <a class="zip_download_link" href="https://github.com/oscar-cluster/{{ site.baseurl }}/zipball/master">Download this project as a .zip file</a>
		    <a class="tar_download_link" href="https://github.com/oscar-cluster{{ site.baseurl }}/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>
    <div class="container">
      <section id="main_content">

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
        <div class="middle">
        {% include nav.html %}
      <section id="main_content" class="inner">
{{ content }}
      </section>
        </div>
    </div>


    <!-- FOOTER  -->
        <div id="footer_wrap" class="outer">
          <footer class="inner">
            <p class="copyright">Oscar maintained by <a href="https://github.com/oscar-cluster">oscar-cluster</a></p>
            <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
          </footer>
        </div>
    </div>
  </body>
</html>
